.board-square{
  max-width: 50px;
  width: 12.5%;
  height: 50px;
  max-height: 50px;
  display: inline-block;
  vertical-align: bottom;
}

.grey{
  background: #ccc;
}

.active {
  background: #8aceff;
}

.path{
  background: rgb(255, 42, 42);
}

.path.grey{
  background: red;
}

@media only screen and (max-width: 460px) {
  .board-square{
    max-width: 35px;
    width: 12.5%;
    height: 35px;
    max-height: 35px;
  }
}