.board-piece{
  width: 80%;
  height: 80%;
  padding: 10%;
}

.board-piece-container{
  margin: 0 auto;
  text-align: center;
}

.board-piece.fallen{
  width: 50px;
  padding: 10px;
  display: inline;
}

.board-piece-container.fallen{
  display: inline-block;
}