// Colors

$PrimaryColor: #424242;
$PrimaryColorLight: #525252;
$PrimaryColorDark: #313131;
$HighlightColor: #EC625F;
$ActiveColor: #448AFF;

// Pixel Sizes

$xxs: 2px;
$xs: 4px;
$sm: 8px;
$md: 12px;
$mdlg: 16px;
$lg: 24px;
$xl: 36px;
$xxl: 50px;
$xxxl: 80px;

// Font Sizes 

$font-xxs: 10px;
$font-xs: 12px;
$font-sm: 16px;
$font-md: 24px;
$font-lg: 32px;
$font-xl: 44px;
$font-xxl: 60px;

// Break Points 

$screen-xs: 0px;
$screen-sm: 600px;
$screen-md: 960px;
$screen-lg: 1280px;
$screen-xl: 1920px;