@import "../../styles/Utils/variables.scss";

.game-card {
  background-color: $PrimaryColorLight !important;

  .game-card-actions {
    display: flex;
    justify-content: space-between;
  }

  .game-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .game-card-turn-area {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

